{% extends 'base.html.twig' %}

{% block title %}New Session{% endblock %}

{% block body %}
    <h1>Créer une session</h1>

    {{ include('/back/session/_form.html.twig') }}

    <a href="{{ path('app_back_session_index') }}"class="btn btn-info">Retour à la liste</a>
{% endblock %}
