{% extends 'base.html.twig' %}

{% block title %}Nouveau post{% endblock %}

{% block body %}
    <h1>Créer un nouveau post</h1>

    {{ include('back/post/_form.html.twig') }}

    <a href="{{ path('app_back_post_index') }}"class="btn btn-info">Retour à la liste</a>
{% endblock %}
