@use 'reset';
@use 'vars';

body {
  font-family: 'Mada', sans-serif;
  font-weight: 400;
}
//#0A4B7A bleu
//#922D76  rose
/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
